
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: linear-gradient(135deg, #0c0019, #1b013d, #2a005b);
    color: #fff;
}

h1 { 
    color: #b983ff;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
}


input, textarea {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    width: 70%;
    margin-left: 15%;
    font-size: 18px;
    padding: 16px;
    border-radius: 14px;
    border: none;
    margin-bottom: 20px;
    transition: 0.3s;
}


input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


input:focus, textarea:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 0 15px rgba(156, 70, 255, 0.3);
}


textarea {
    margin-bottom: 25px;
}


button {
    background: #b983ff;
    border-radius: 20px;
    font-size: 22px;
    padding: 12px 24px;
    color: #fff;
    text-align: center;
    display: flex;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #caa0ff;
    opacity: 0.9;
}


@media (max-width: 768px) {
    input, textarea {
        width: 90%;
        margin-left: 5%;
    }
}
